<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SecureIntegrationServiceImap">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_SecureIntegrationServiceImap1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://messaging.directaddress.net/HISP/SecureIntegrationServicesImap.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SecureIntegrationServiceImap"
                contract="ServiceReference1.SecureIntegrationServiceImap"
                name="WSHttpBinding_SecureIntegrationServiceImap" />
            <endpoint address="http://ec2amaz-3a55ld1/HISP/SecureIntegrationServicesImap.svc/TS"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SecureIntegrationServiceImap1"
                contract="ServiceReference1.SecureIntegrationServiceImap"
                name="WSHttpBinding_SecureIntegrationServiceImap1" />
        </client>
    </system.serviceModel>
</configuration>